{% extends "page.html" %}
{% block content %}
  <div id="title">
    <h1>{{ title}}</h1>
    <h2><a href="{{ utils.get_content_uri(uri) }}">{{ uri }}</a></h2>
    <h3>A <a title="A specification that constrains, extends, combines, or provides guidance or explanation about the usage of other specifications." href="http://www.w3.org/ns/dx/prof/Profile">Profile</a></h3>
  </div>
  <div id="maincontent">
    <div>
      {{ description|safe }}
    </div>
    <dl>
      <dt>Created</dt>
      <dd>{{ created }}</dd>
      <dt>Modified</dt>
      <dd>{{ modified }}</dd>
      <dt>Creator</dt>
      <dd>
        <a href="{{ utils.get_content_uri(creator[0]) }}">{{ creator[1] }}</a>
      </dd>
      <dt>Publisher</dt>
      <dd>
        <a href="{{ utils.get_content_uri(publisher[0]) }}">{{ publisher[1] }}</a>
      </dd>
    </dl>
    {% if isProfileOf|length > 0 %}
      <h3>Is Profile Of</h3>
      <ul>
      {% for ipo in isProfileOf %}
        {% if ipo is string %}
          <li>
            <a href="{{ ipo }}">{{ ipo }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ utils.get_content_uri(ipo[0]) }}">{{ ipo[1] }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
    {% if resources|length > 0 %}
      <h3>Resources</h3>
      <style>
        table#resources {
            border-collapse: collapse;
        }
        table#resources tr:nth-child(even) {
            background-color: #eee;
        }
        table#resources td {
            vertical-align: top;
            padding: 5px;
        }
      </style>
      <table id="resources">
      {% for resource in resources %}
          <tr>
            <td>
              <a href="{{ utils.get_content_uri(resource['hasArtifact']) }}">{{ resource['title'] }}</a>
              {% if resource['hasRole'] is defined %}<br />
                Role: <em><a href="{{ resource['hasRole'] }}">{{ resource['hasRole_title'] }}</em>
              {% endif %}
            </td>
            <td><span title="{{ resource['type'] }}">{{ resource['type_title'] }}</span></td>
          </tr>
      {% endfor %}
      </table>
    {% endif %}
    <p></p>
  </div>
  {% include '_altprofiles.html' %}
{% endblock %}