{% extends "page.html" %}
{% block content %}
  <div id="title">
    <h1>{{ title}}</h1>
  </div>
  <div id="maincontent">
    <div>
      {{ description|safe }}
    </div>
    <dl>
      <dt>URI</dt>
      <dd><a href="{{ utils.get_content_uri(uri) }}">{{ uri }}</a></dd>
      <dt>Created</dt>
      <dd>{{ created }}</dd>
      <dt>Modified</dt>
      <dd>{{ modified }}</dd>
      <dt>Creator</dt>
      <dd>
        <a href="{{ utils.get_content_uri(creator[0]) }}">{{ creator[1] }}</a>
      </dd>
      <dt>Publisher</dt>
      <dd>
        <a href="{{ utils.get_content_uri(publisher[0]) }}">{{ publisher[1] }}</a>
      </dd>
    </dl>
    {% if isProfileOf|length > 0 %}
      <h3>Is Profile Of</h3>
      <ul>
      {% for ipo in isProfileOf %}
        {% if isProfileOf|length > 1 %}
          <li>
            <a href="{{ utils.get_content_uri(ipo[0]) }}">{{ ipo[1] }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ utils.get_content_uri(ipo) }}">{{ ipo }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% include '_altprofiles.html' %}
{% endblock %}